Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

edpm-ansible-content-provider:
  parent: content-provider-base
  vars:
    cifmw_operator_build_org: openstack-k8s-operators
    cifmw_operator_build_operators:
    - name: openstack-operator
      src: ~/src/github.com/{{ cifmw_operator_build_org }}/openstack-operator
      image_base: edpm

edpm-ansible-crc-podified-edpm-deployment:
  parent: cifmw-crc-podified-edpm-deployment

edpm-ansible-crc-podified-edpm-baremetal:
  parent: cifmw-crc-podified-edpm-baremetal

edpm-ansible-centos-stream-molecule-env_data:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: env_data

edpm-ansible-centos-stream-molecule-test_deps:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: test_deps

edpm-ansible-centos-stream-molecule-chrony:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: chrony

edpm-ansible-centos-stream-molecule-edpm_bootstrap:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_bootstrap

edpm-ansible-centos-stream-molecule-edpm_ceph_client_files:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_ceph_client_files

edpm-ansible-centos-stream-molecule-edpm_container_manage:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_manage
  voting: false

edpm-ansible-centos-stream-molecule-edpm_container_rm:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_rm

edpm-ansible-centos-stream-molecule-edpm_container_standalone:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_container_standalone

edpm-ansible-centos-stream-molecule-edpm_hosts_entries:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_hosts_entries

edpm-ansible-centos-stream-molecule-edpm_iscsid:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_iscsid

edpm-ansible-centos-stream-molecule-edpm_kernel:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_kernel

edpm-ansible-centos-stream-molecule-edpm_logrotate_crond:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_logrotate_crond

edpm-ansible-centos-stream-molecule-edpm_module_load:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_module_load

edpm-ansible-centos-stream-molecule-edpm_network_config:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_network_config

edpm-ansible-centos-stream-molecule-edpm_nftables:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_nftables

edpm-ansible-centos-stream-molecule-edpm_nodes_validation:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_nodes_validation

edpm-ansible-centos-stream-molecule-edpm_nova_libvirt:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_nova_libvirt

edpm-ansible-centos-stream-molecule-edpm_nova_compute:
  parent: edpm-ansible-centos-stream-base
  vars:
    edpm_role_name: edpm_nova_compute

Adding run_os playbook
  playbooks/run_os.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Adding validate_network playbook
  playbooks/validate_network.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Update docs on testing roles with molecule
  docs/source/contributing_roles.rst
Due: none

Documentation outline
  docs/source/contributing.rst
  docs/source/contributing_plugins.rst
  docs/source/contributing_roles.rst
  docs/source/index.rst
  docs/source/testing_roles.rst
Due: none

Guidelines for role development, notes on plugins
  docs/source/contributing.rst
  docs/source/contributing_plugins.rst
  docs/source/contributing_roles.rst
Due: none

Plugin development info
  docs/source/contributing_plugins.rst
Due: none

Notes on variables, expansion of section on argspec, disclaimer about guide
  docs/source/contributing.rst
  docs/source/contributing_roles.rst
Due: none

Notes on conditionals, with examples
  docs/source/contributing_roles.rst
Due: none

Notes on usage of roles in playbooks
  docs/source/usage.rst
Due: none

More notes on plugins and default vars
  docs/source/contributing_plugins.rst
  docs/source/contributing_roles.rst
Due: none

More info about molecule
  docs/source/testing_roles.rst
Due: none

Notes on molecule and ansiblee testing
  docs/source/testing_roles.rst
  docs/source/testing_with_ansibleee.rst
Due: none

Fixing typos
  docs/source/contributing.rst
  docs/source/contributing_plugins.rst
  docs/source/contributing_roles.rst
  docs/source/testing_roles.rst
Due: none

Notes on local testing and pre-commit
  docs/source/contributing.rst
  docs/source/contributing_roles.rst
Due: none

Adding run_ovn_bgp_agent playbook
  playbooks/run_ovn_bgp_agent.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Adding configure_ovn_bgp_agent playbook
  playbooks/configure_ovn_bgp_agent.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Removing edpm_hosts_entries role
  .github/workflows/molecule.yaml
  docs/source/roles/role-edpm_hosts_entries.rst
  roles/edpm_hosts_entries/defaults/main.yml
  roles/edpm_hosts_entries/files/.gitkeep
  roles/edpm_hosts_entries/handlers/main.yml
  roles/edpm_hosts_entries/meta/argument_specs.yml
  roles/edpm_hosts_entries/meta/main.yml
  roles/edpm_hosts_entries/molecule/default/collections.yml
  roles/edpm_hosts_entries/molecule/default/converge.yml
  roles/edpm_hosts_entries/molecule/default/molecule.yml
  roles/edpm_hosts_entries/molecule/default/prepare.yml
  roles/edpm_hosts_entries/molecule/default/verify.yml
  roles/edpm_hosts_entries/tasks/main.yml
  roles/edpm_hosts_entries/vars/main.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Restoring telemetry playbooks
  playbooks/deploy_edpm_telemetry_ceilometer.yml
  playbooks/deploy_edpm_telemetry_infra.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

update usage of test_deps in nova and libvirt roles
  roles/edpm_libvirt/molecule/default/prepare.yml
  roles/edpm_nova/molecule/default/prepare.yml
Due: none

mova edpm-ansible-crc-podified-edpm-baremetal to github-manual
  zuul.d/projects.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Use ansible_nodename for ovn chassis hostname
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/meta/argument_specs.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Adding configure_frr playbook
  playbooks/configure_frr.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Incorporating feedback
  docs/source/contributing.rst
  docs/source/contributing_plugins.rst
  docs/source/contributing_roles.rst
  docs/source/testing_roles.rst
  docs/source/testing_with_ansibleee.rst
Due: none

Add tc command
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_bootstrap/meta/argument_specs.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Adding install_os playbook
  playbooks/install_os.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Introduce edpm_ceph_hci_pre role
  docs/source/roles/role-edpm_ceph_hci_pre.rst
  playbooks/ceph_hci_pre.yaml
  roles/edpm_ceph_hci_pre/defaults/main.yml
  roles/edpm_ceph_hci_pre/files/.gitkeep
  roles/edpm_ceph_hci_pre/handlers/main.yml
  roles/edpm_ceph_hci_pre/meta/argument_specs.yml
  roles/edpm_ceph_hci_pre/meta/main.yml
  roles/edpm_ceph_hci_pre/molecule/default/converge.yml
  roles/edpm_ceph_hci_pre/molecule/default/molecule.yml
  roles/edpm_ceph_hci_pre/molecule/default/prepare.yml
  roles/edpm_ceph_hci_pre/molecule/default/verify.yml
  roles/edpm_ceph_hci_pre/tasks/firewall.yml
  roles/edpm_ceph_hci_pre/tasks/main.yml
  roles/edpm_ceph_hci_pre/templates/firewall.yaml.j2
  roles/edpm_ceph_hci_pre/vars/main.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Revert "Removing MD5 from the list of approved algos"
  roles/edpm_iscsid/defaults/main.yml
  roles/edpm_iscsid/meta/argument_specs.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Pinning molecule to avoid testinfra removal
  molecule-requirements.txt
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Skip edpm jobs when molecule-requirements.txt is modified
  zuul.d/jobs.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Adding ceph_client playbook from dataplane services
  playbooks/ceph_client.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

update /var/lib/libvirt to 755
  roles/edpm_libvirt/tasks/install.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Full documentation for edpm_network_config role endpoint
  plugins/modules/edpm_os_net_config.py
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Argspecs for edpm_nova_compute role
  roles/edpm_nova_compute/defaults/main.yml
  roles/edpm_nova_compute/meta/argument_specs.yml
  roles/edpm_nova_compute/molecule/default/converge.yml
  roles/edpm_nova_compute/molecule/default/molecule.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

relax nova config patteren
  roles/edpm_nova/molecule/default/test-data/nova-cell1/01-nova.conf
  roles/edpm_nova/molecule/default/test-data/nova-cell1/02-nova-log.conf
  roles/edpm_nova/molecule/default/verify.yml
  roles/edpm_nova/templates/config.json.j2
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Switch to sha256 for config hash
  plugins/modules/container_config_hash.py
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Allow image tag to be set for build/push
  Makefile
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Adding ovn, nova and libvirt playbooks ported from dataplane services
  playbooks/libvirt.yaml
  playbooks/nova.yaml
  playbooks/ovn.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

DDP option role document changes
  docs/source/roles/role-edpm_ddp_package.rst
Due: none

Add a comment explaining the intent of the SKIP_LIST
  scripts/test_roles.py
Due: none

Installing collections before testing
  .github/workflows/molecule.yaml
  scripts/molecule_venv.sh
Due: none

Path conditions:
  edpm-ansible-content-provider: unless all of: LICENSE, OWNERS.*, README.md, molecule/.*, .github/workflows, scripts/.*, docs/.*, contribute/.*, tests, roles/.*/molecule/.*
  edpm-ansible-crc-podified-edpm-deployment: unless all of: LICENSE, OWNERS.*, README.md, molecule/.*, .github/workflows, scripts/.*, docs/.*, contribute/.*, tests, roles/.*/molecule/.*
  edpm-ansible-crc-podified-edpm-baremetal: unless all of: LICENSE, OWNERS.*, README.md, molecule/.*, .github/workflows, scripts/.*, docs/.*, contribute/.*, tests, roles/.*/molecule/.*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml
