Repository openstack-k8s-operators/edpm-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Path conditions:
  edpm-ansible-content-provider: unless all of: LICENSE, OWNERS.*, README.md, molecule/.*, .github/workflows, scripts/.*, docs/.*, contribute/.*, tests, roles/.*/molecule/.*
  edpm-ansible-crc-podified-edpm-deployment: unless all of: LICENSE, OWNERS.*, README.md, molecule/.*, .github/workflows, scripts/.*, docs/.*, contribute/.*, tests, roles/.*/molecule/.*
  edpm-ansible-crc-podified-edpm-baremetal: unless all of: LICENSE, OWNERS.*, README.md, molecule/.*, .github/workflows, scripts/.*, docs/.*, contribute/.*, tests, roles/.*/molecule/.*
  edpm-ansible-centos-stream-molecule-env_data: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/env_data/(?!meta).*
  edpm-ansible-centos-stream-molecule-test_deps: any of: ^molecule-requirements.txt, ^.config/molecule/config.yml, ^edpm_ansible/roles/test_deps/(?!meta).*, ^zuul.d/playbooks/pre.yml
  edpm-ansible-centos-stream-molecule-chrony: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/chrony/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_bootstrap: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_bootstrap/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ceph_client_files: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ceph_client_files/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_manage: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_manage/(?!meta).*, ^edpm_ansible/roles/edpm_container_rm/.*, ^edpm_ansible/ansible_plugins/action/container_systemd.py$, ^edpm_ansible/ansible_plugins/filter/helpers.py$, ^edpm_ansible/ansible_plugins/modules/container_config_data.py$, ^edpm_ansible/ansible_plugins/modules/container_config_hash.py$
  edpm-ansible-centos-stream-molecule-edpm_container_rm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_rm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_container_standalone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_container_standalone/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_hosts_entries: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_hosts_entries/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_iscsid: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_iscsid/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_kernel: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_kernel/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_logrotate_crond: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_logrotate_crond/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_module_load: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_module_load/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_network_config: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_network_config/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config.py, ^edpm_ansible/ansible_plugins/modules/edpm_os_net_config_mappings.py
  edpm-ansible-centos-stream-molecule-edpm_nftables: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nftables/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_from_files.py, ^edpm_ansible/ansible_plugins/modules/edpm_nftables_snippet.py
  edpm-ansible-centos-stream-molecule-edpm_nodes_validation: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nodes_validation/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_libvirt: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_libvirt/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nova_compute: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nova_compute/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_nvdimm: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_nvdimm/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ovn: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ovn/(?!meta).*, ^edpm_ansible/ansible_plugins/modules/edpm_ovn_mac_addresses.py
  edpm-ansible-centos-stream-molecule-edpm_podman: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_podman/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_ssh_known_hosts/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_sshd: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_sshd/(?!meta).*
  edpm-ansible-centos-stream-molecule-edpm_timezone: any of: ^molecule-requirements.txt, ^edpm_ansible/roles/edpm_timezone/(?!meta).*
  edpm-ansible-centos-stream-role-addition: any of: ^.config/molecule/config.yml, ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt, ^zuul.d/playbooks/.*, ^zuul.d/molecule.yaml

Do not require a source address for ceph_hci_pre firewall
  roles/edpm_ceph_hci_pre/defaults/main.yml
  roles/edpm_ceph_hci_pre/meta/argument_specs.yml
  roles/edpm_ceph_hci_pre/molecule/default/converge.yml
  roles/edpm_ceph_hci_pre/molecule/default/prepare.yml
  roles/edpm_ceph_hci_pre/molecule/default/verify.yml
  roles/edpm_ceph_hci_pre/tasks/firewall.yml
  roles/edpm_ceph_hci_pre/templates/firewall.yaml.j2
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Test edpm_ovn when running execute_molecule_local
  scripts/test_roles.py
Due: none

Replace Ubuntu with Fedora
  roles/edpm_podman/molecule/login/prepare.yml
Due: none

Update example kolla config file of ceilometer services in molecule
  roles/edpm_telemetry/molecule/default/prepare.yml
Due: none

Fix run_ovn_bgp_agent playbook definition
  playbooks/run_ovn_bgp_agent.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Refactoring collection playbooks to use static imports of roles
  playbooks/ceph_client.yaml
  playbooks/ceph_hci_pre.yaml
  playbooks/configure_network.yaml
  playbooks/libvirt.yaml
  playbooks/nova.yaml
  playbooks/ovn.yaml
  playbooks/validate_network.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Remove ovn role include from os setup
  playbooks/configure_os.yaml
  playbooks/install_os.yaml
  playbooks/run_os.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Store Ceph client files in /var/lib/openstack/config/ceph
  roles/edpm_ceph_client_files/defaults/main.yml
  roles/edpm_ceph_client_files/meta/argument_specs.yml
  roles/edpm_libvirt/tasks/post-install.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

edpm_kernel: Fix Reboot Task
  roles/edpm_kernel/tasks/reboot.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Use ansible_nodename for ovn chassis hostname
  roles/edpm_ovn/defaults/main.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

OVN DPDK config Parameter changes
  plugins/filter/cpu_mask.yml
  plugins/filter/helpers.py
  roles/edpm_ovn/meta/argument_specs.yml
  roles/edpm_ovn/tasks/configure.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

edpm_libvirt should reload NFT ruleset after configuring it
  roles/edpm_libvirt/molecule/default/prepare.yml
  roles/edpm_libvirt/tasks/post-install.yml
  roles/edpm_nova/molecule/default/prepare.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

ovn: install openvswitch package
  roles/edpm_ovn/tasks/bootstrap.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Test ovn in zuul
  .github/workflows/molecule.yaml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

ovn: deploy podman before running tests
  roles/edpm_ovn/molecule/default/prepare.yml
Due: none

Don't override the compute routing
  roles/edpm_network_config/templates/ci/extracted_crc_nic2_vlans.j2
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

New role parameters to correctly handle templates
  roles/edpm_network_config/meta/argument_specs.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Add edpm_libvirt molecule test to assert correct NFT output
  roles/edpm_libvirt/molecule/default/test-helpers/verify_firewall.yaml
Due: none

Apply configmap settings via ovs-vsctl
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/molecule/default/test-data/ovsdb-config
  roles/edpm_ovn/molecule/default/verify.yml
  roles/edpm_ovn/molecule/noconfig/cleanup.yml
  roles/edpm_ovn/molecule/noconfig/collections.yml
  roles/edpm_ovn/molecule/noconfig/converge.yml
  roles/edpm_ovn/molecule/noconfig/molecule.yml
  roles/edpm_ovn/molecule/noconfig/prepare.yml
  roles/edpm_ovn/molecule/noconfig/test-data/.placeholder
  roles/edpm_ovn/molecule/noconfig/verify.yml
  roles/edpm_ovn/tasks/configure.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Remove ci-framework network template
  roles/edpm_network_config/templates/ci/extracted_crc_nic2_vlans.j2
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Use new content provider and standalone crc based edpm job
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Document building an ephemeral VM for local molecule testing
  docs/source/testing_roles.rst
Due: none

Refactoring telemetry playbooks to be compliant with spec.
  playbooks/deploy_edpm_telemetry_ceilometer.yaml
  playbooks/deploy_edpm_telemetry_infra.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Replace edpm_network_config_template with existing _override
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/molecule/default/converge.yml
  roles/edpm_network_config/tasks/os_net_config.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Remove unnecessary neutron config options from the edpm_ovn role
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/meta/argument_specs.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Stop using config_template module in edpm_ovn role
  roles/edpm_ovn/defaults/main.yml
  roles/edpm_ovn/meta/argument_specs.yml
  roles/edpm_ovn/tasks/configure.yml
  roles/edpm_ovn/templates/networking-ovn-metadata-agent.ini.j2
  roles/edpm_ovn/templates/neutron.conf.j2
  roles/edpm_ovn/templates/rootwrap.conf.j2
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

adapt the telemetry playbooks to the new name and structure
  playbooks/deploy_edpm_telemetry_infra.yaml
  playbooks/telemetry.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Reduce the idle timeout
  openstack_ansibleee/settings
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Refactor Ceph libvirt secret management code
  roles/edpm_libvirt/defaults/main.yml
  roles/edpm_libvirt/molecule/default/prepare.yml
  roles/edpm_libvirt/molecule/default/test-helpers/verify_ceph_secret.yaml
  roles/edpm_libvirt/molecule/default/verify.yml
  roles/edpm_libvirt/tasks/post-install.yml
  roles/edpm_libvirt/tasks/virsh-secret.yml
  roles/edpm_libvirt/templates/libvirt_virtqemud/secret.xml.j2
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

[ovn] Add missing firewall rules
  .github/workflows/molecule.yaml
  roles/edpm_ovn/molecule/default/verify.yml
  roles/edpm_ovn/tasks/firewall.yml
  roles/edpm_ovn/tasks/install.yml
  roles/edpm_ovn/tasks/main.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

[DNM] Check ovn molecule job
  .github/workflows/molecule.yaml
  molecule/common/test_deps/tasks/main.yml
  roles/edpm_ovn/molecule/default/molecule.yml
  roles/edpm_ovn/molecule/default/verify.yml
  roles/edpm_ovn/molecule/noconfig/molecule.yml
  roles/edpm_ovn/molecule/noconfig/verify.yml
  roles/edpm_ovn/tasks/bootstrap.yml
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Add ceph_rgw and ceph_rgw_frontend in te list of enabled_services
  roles/edpm_ceph_hci_pre/defaults/main.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Refactored edpm_bootstrap role to isolate download of packages and their installation.
  docs/source/roles/role-edpm_download_cache.rst
  playbooks/download_cache.yaml
  roles/edpm_bootstrap/molecule/default/converge.yml
  roles/edpm_bootstrap/tasks/bootstrap.yml
  roles/edpm_bootstrap/tasks/download_cache.yml
  roles/edpm_bootstrap/tasks/packages.yml
  roles/edpm_download_cache/defaults/main.yml
  roles/edpm_download_cache/meta/argument_specs.yml
  roles/edpm_download_cache/meta/main.yml
  roles/edpm_download_cache/molecule/default/collections.yml
  roles/edpm_download_cache/molecule/default/converge.yml
  roles/edpm_download_cache/molecule/default/molecule.yml
  roles/edpm_download_cache/molecule/default/prepare.yml
  roles/edpm_download_cache/molecule/molecule_config.yaml
  roles/edpm_download_cache/tasks/main.yml
  roles/edpm_network_config/tasks/network_config.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Manage failures for packages download and installation
  roles/edpm_bootstrap/defaults/main.yml
  roles/edpm_bootstrap/meta/argument_specs.yml
  roles/edpm_bootstrap/tasks/download_cache.yml
  roles/edpm_bootstrap/tasks/packages.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Removing json_query calls
  plugins/filter/helpers.py
  plugins/filter/jump_chain_targets.yml
  roles/edpm_nftables/templates/jump-chain.j2
  roles/edpm_podman/templates/podman_network_config.j2
  roles/env_data/tasks/main.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Removing jmsepath dependency for molecule tests
  molecule-requirements.txt
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal, edpm-ansible-centos-stream-molecule-env_data, edpm-ansible-centos-stream-molecule-test_deps, edpm-ansible-centos-stream-molecule-chrony, edpm-ansible-centos-stream-molecule-edpm_bootstrap, edpm-ansible-centos-stream-molecule-edpm_ceph_client_files, edpm-ansible-centos-stream-molecule-edpm_container_manage, edpm-ansible-centos-stream-molecule-edpm_container_rm, edpm-ansible-centos-stream-molecule-edpm_container_standalone, edpm-ansible-centos-stream-molecule-edpm_hosts_entries, edpm-ansible-centos-stream-molecule-edpm_iscsid, edpm-ansible-centos-stream-molecule-edpm_kernel, edpm-ansible-centos-stream-molecule-edpm_logrotate_crond, edpm-ansible-centos-stream-molecule-edpm_module_load, edpm-ansible-centos-stream-molecule-edpm_network_config, edpm-ansible-centos-stream-molecule-edpm_nftables, edpm-ansible-centos-stream-molecule-edpm_nodes_validation, edpm-ansible-centos-stream-molecule-edpm_nova_libvirt, edpm-ansible-centos-stream-molecule-edpm_nova_compute, edpm-ansible-centos-stream-molecule-edpm_nvdimm, edpm-ansible-centos-stream-molecule-edpm_ovn, edpm-ansible-centos-stream-molecule-edpm_podman, edpm-ansible-centos-stream-molecule-edpm_ssh_known_hosts, edpm-ansible-centos-stream-molecule-edpm_sshd, edpm-ansible-centos-stream-molecule-edpm_timezone, edpm-ansible-centos-stream-role-addition

Run EDPM job from podified-multinode-edpm-pipeline job template
  zuul.d/jobs.yaml
  zuul.d/projects.yaml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

Use RDO quay registry:2 image in podman molecule job
  roles/edpm_podman/molecule/login/prepare.yml
Due: none

Enable download-cache for edpm-kernel role
  roles/edpm_download_cache/tasks/main.yml
  roles/edpm_kernel/defaults/main.yml
  roles/edpm_kernel/meta/argument_specs.yml
  roles/edpm_kernel/molecule/extra/converge.yml
  roles/edpm_kernel/tasks/download_cache.yml
  roles/edpm_kernel/tasks/main.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal

enable download-cache for edpm_network_config role
  roles/edpm_download_cache/tasks/main.yml
  roles/edpm_network_config/defaults/main.yml
  roles/edpm_network_config/meta/argument_specs.yml
  roles/edpm_network_config/tasks/download_cache.yml
  roles/edpm_network_config/tasks/main.yml
  roles/edpm_network_config/tasks/network_config.yml
Due: edpm-ansible-content-provider, edpm-ansible-crc-podified-edpm-deployment, edpm-ansible-crc-podified-edpm-baremetal
